In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
%matplotlib notebook
# Dependencies and Setup
import os
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
# Import the style from Matplotlib.
from matplotlib import style
# File to Load
lapd_arrests_data_to_load = os.path.join('..', 'resources', 'OLD', 'Los_Angeles_PD_Arrest_Data_2020_to_Present.csv')

In [2]:
# Reading Los_Angeles_PD_Arrest_Data_2020_to_Present.csv into a dataframe
lapd_arrests_data_df = pd.read_csv(lapd_arrests_data_to_load, encoding='cp1252', converters={'Time': str})
lapd_arrests_data_df.head(1)

,Report ID,Report Type,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,...,Disposition Description,Address,Cross Street,LAT,LON,Location,Booking Date,Booking Time,Booking Location,Booking Location Code
0,211517634,RFC,11/16/2021 12:00:00 AM,0830,15,N Hollywood,1535,57,M,W,...,MISDEMEANOR COMPLAINT FILED,LANKERSHIM,CALIFA,34.1775,-118.3822,POINT (-118.3822 34.1775),NaN,NaN,NaN,NaN

In [3]:
#Formated 'Arrest Date' datetime into day/month/year
lapd_arrests_data_df['Arrest Date'] = pd.to_datetime(lapd_arrests_data_df['Arrest Date'], 
                                                     errors='coerce')
lapd_arrests_data_df['Arrest Date'] = lapd_arrests_data_df['Arrest Date'].dt.strftime('%Y/%m/%d')
#Formated 'Time' datetime into hour:minute
lapd_arrests_data_df['Time'] = pd.to_datetime(lapd_arrests_data_df['Time'], 
                                                   format='%H%M',
                                                   errors='coerce').dt.strftime('%H:%M')
lapd_arrests_data_df.head()
lapd_arrests_data_df.tail()

,Report ID,Report Type,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,...,Disposition Description,Address,Cross Street,LAT,LON,Location,Booking Date,Booking Time,Booking Location,Booking Location Code
198731,6489225,BOOKING,2022/10/25,12:50,18,Southeast,1844,59,M,B,...,FELONY COMPLAINT FILED,400 E IMPERIAL HY,NaN,33.9345,-118.2623,POINT (-118.2623 33.9345),10/25/2022 12:00:00 AM,1615.0,77TH ST,4212.0
198732,220221190,RFC,2022/11/30,11:15,2,Rampart,245,61,M,H,...,MISDEMEANOR COMPLAINT FILED,2200 W 6TH ST,NaN,34.0601,-118.2761,POINT (-118.2761 34.0601),NaN,NaN,NaN,NaN
198733,6475957,BOOKING,2022/10/03,05:10,3,Southwest,311,45,M,H,...,MISDEMEANOR COMPLAINT FILED,5400 HOMESIDE AV,NaN,34.0273,-118.3622,POINT (-118.3622 34.0273),10/03/2022 12:00:00 AM,907.0,77TH ST,4212.0
198734,6471566,BOOKING,2022/09/26,09:50,17,Devonshire,1756,25,M,H,...,FELONY COMPLAINT FILED,DEVONSHIRE,AMESTOY,34.2576,-118.5067,POINT (-118.5067 34.2576),09/26/2022 12:00:00 AM,1201.0,VALLEY - JAIL DIV,4279.0
198735,6477132,BOOKING,2022/10/05,10:10,6,Hollywood,666,28,M,W,...,NaN,1900 WILCOX,NaN,34.0957,-118.3310,POINT (-118.331 34.0957),10/05/2022 12:00:00 AM,1012.0,HOLLYWOOD,4206.0

In [4]:
lapd_arrests_data_df['Arrest Datetime'] = lapd_arrests_data_df['Arrest Date'] + ' ' + lapd_arrests_data_df['Time']
lapd_arrests_data_df['Arrest Datetime'] = pd.to_datetime(lapd_arrests_data_df['Arrest Datetime'],
                                                         errors='coerce',
                                                         dayfirst=True,)
 #lapd_arrests_data_df['Datetime'] = lapd_arrests_data_df['Arrest Datetime'].dt.strftime('%d/%m/%Y %H:%M')
lapd_arrests_data_df['Arrest Datetime']

0        2021-11-16 08:30:00
1        2021-09-01 12:30:00
2        2022-03-17 08:50:00
3        2021-09-20 17:35:00
4        2021-07-27 08:50:00
                 ...
198731   2022-10-25 12:50:00
198732   2022-11-30 11:15:00
198733   2022-10-03 05:10:00
198734   2022-09-26 09:50:00
198735   2022-10-05 10:10:00
Name: Arrest Datetime, Length: 198736, dtype: datetime64[ns]

In [5]:
lapd_arrests_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198736 entries, 0 to 198735
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Report ID                 198736 non-null  int64
 1   Report Type               198736 non-null  object
 2   Arrest Date               198736 non-null  object
 3   Time                      198721 non-null  object
 4   Area ID                   198736 non-null  int64
 5   Area Name                 198736 non-null  object
 6   Reporting District        198736 non-null  int64
 7   Age                       198736 non-null  int64
 8   Sex Code                  198736 non-null  object
 9   Descent Code              198736 non-null  object
 10  Charge Group Code         182953 non-null  float64
 11  Charge Group Description  182922 non-null  object
 12  Arrest Type Code          198735 non-null  object
 13  Charge                    198736 non-null  object
 14  Charge Description        182953 non-null  object
 15  Disposition Description   184552 non-null  object
 16  Address                   198736 non-null  object
 17  Cross Street              98092 non-null   object
 18  LAT                       198736 non-null  float64
 19  LON                       198736 non-null  float64
 20  Location                  198736 non-null  object
 21  Booking Date              158578 non-null  object
 22  Booking Time              158578 non-null  float64
 23  Booking Location          158551 non-null  object
 24  Booking Location Code     158574 non-null  float64
 25  Arrest Datetime           198721 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(4), object(16)
memory usage: 39.4+ MB

In [6]:
lapd_arrests_data_2021_df = lapd_arrests_data_df.loc[(lapd_arrests_data_df['Arrest Datetime']>='2021/01/01') & 
                                                     (lapd_arrests_data_df['Arrest Datetime']<='2021/12/31'), 
                                                     ['Report ID', 'Arrest Datetime', 'Arrest Date', 'Time', 'Age',
                                                      'Sex Code', 'Charge Group Description', 'Charge Description', 
                                                      'Address', 'Cross Street', 'LAT', 'LON', 'Location']].sort_values(by='Arrest Datetime').copy()
lapd_arrests_data_2021_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66715 entries, 70899 to 153958
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Report ID                 66715 non-null  int64
 1   Arrest Datetime           66715 non-null  datetime64[ns]
 2   Arrest Date               66715 non-null  object
 3   Time                      66715 non-null  object
 4   Age                       66715 non-null  int64
 5   Sex Code                  66715 non-null  object
 6   Charge Group Description  61451 non-null  object
 7   Charge Description        61458 non-null  object
 8   Address                   66715 non-null  object
 9   Cross Street              34127 non-null  object
 10  LAT                       66715 non-null  float64
 11  LON                       66715 non-null  float64
 12  Location                  66715 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 7.1+ MB

In [7]:
pd.set_option('display.max_columns', None)
lapd_arrests_data_2021_df.reset_index(drop=True, inplace=True)
lapd_arrests_data_2021_df.head(10)

,Report ID,Arrest Datetime,Arrest Date,Time,Age,Sex Code,Charge Group Description,Charge Description,Address,Cross Street,LAT,LON,Location
0,211404904,2021-01-01 00:01:00,2021/01/01,00:01,30,F,NaN,NaN,NAVY,OCEAN FRONT WK,33.9918,-118.4791,POINT (-118.4791 33.9918)
1,6091402,2021-01-01 00:05:00,2021/01/01,00:05,31,M,Miscellaneous Other Violations,LOS ANGELES MUNICIPAL CODE,300 WORLD WAY,NaN,33.9449,-118.4061,POINT (-118.4061 33.9449)
2,211404620,2021-01-01 00:05:00,2021/01/01,00:05,63,M,NaN,NaN,OCEAN FRONT WK,WESTMINSTER,33.9885,-118.4751,POINT (-118.4751 33.9885)
3,6091579,2021-01-01 00:05:00,2021/01/01,00:05,34,M,Weapon (carry/poss),WILLFUL DISCHRG FIREARM IN GROSS NEG MANNR,11400 ZAMORA AV,NaN,33.9307,-118.2507,POINT (-118.2507 33.9307)
4,6091474,2021-01-01 00:05:00,2021/01/01,00:05,44,M,Weapon (carry/poss),POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,FOOTHILL,MATHER,34.2597,-118.3096,POINT (-118.3096 34.2597)
5,6091432,2021-01-01 00:08:00,2021/01/01,00:08,31,M,Driving Under Influence,DRUNK DRIVING ALCOHOL/DRUGS,ROSCOE,GLORIA,34.2213,-118.4809,POINT (-118.4809 34.2213)
6,6091459,2021-01-01 00:17:00,2021/01/01,00:17,27,M,Driving Under Influence,DRUNK DRIVING ALCOHOL/DRUGS,GLORIA,COMMUNITY,34.2229,-118.4808,POINT (-118.4808 34.2229)
7,5937059,2021-01-01 00:30:00,2021/01/01,00:30,34,F,Driving Under Influence,DRUNK DRIVING ALCOHOL/DRUGS,EMPIRE PL,EMPIRE DR,34.2627,-118.4049,POINT (-118.4049 34.2627)
8,211404609,2021-01-01 00:30:00,2021/01/01,00:30,34,F,NaN,NaN,OCEAN FRONT WK,BREEZE,33.9900,-118.4764,POINT (-118.4764 33.99)
9,5886873,2021-01-01 00:30:00,2021/01/01,00:30,22,M,Aggravated Assault,CORPORAL INJURY ON SPOUSE/COHABITANT/ETC,2000 W MARTIN LUTHER KI BL,NaN,34.0073,-118.3108,POINT (-118.3108 34.0073)

In [8]:
#Renaming columns to make more uniform
lapd_arrests_data_2021_df = lapd_arrests_data_2021_df.rename(columns={'Time':'Arrest Time',
                                                                     'Sex Code':'Sex',
                                                                     'Charge Group Description':'Charge Group',
                                                                     'Cross Street':'Street',
                                                                     'LAT':'Lat',
                                                                     'LON':'Lon',
                                                                     'Location':'Coords'})

In [9]:
lapd_arrests_data_2021_df.columns

Index(['Report ID', 'Arrest Datetime', 'Arrest Date', 'Arrest Time', 'Age',
       'Sex', 'Charge Group', 'Charge Description', 'Address', 'Street', 'Lat',
       'Lon', 'Coords'],
      dtype='object')

In [10]:
Los_Angeles_PD_Arrests_Data_2021_semiclean_csv = os.path.join('resources', 'Los_Angeles_PD_Arrest_Data_2021_semiclean.csv')
lapd_arrests_data_2021_df.to_csv(Los_Angeles_PD_Arrests_Data_2021_semiclean_csv, index=False, encoding='ISO=8859-1')